<!-- <p-table *ngIf="visible" [value]="collocations" [lazy]="true" (onLazyLoad)="loadResults($event)" [paginator]="true"
  styleClass="p-datatable-striped" [rows]="initialPagination" [totalRecords]="totalResults" [loading]="loading"
  currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="paginations" (sortFunction)="loadResults($event)" [customSort]="true"
  [sortField]="sortField" [sortOrder]="sortOrder"> -->
<!-- <p-table *ngIf="visible" [value]="collocations" [paginator]="true" [rows]="initialPagination"
  [showCurrentPageReport]="true" responsiveLayout="scroll" styleClass="p-datatable-striped"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="paginations"
  (sortFunction)="customSort($event)" [customSort]="true"> -->
<p-table [value]="collocations" [lazy]="true" (onLazyLoad)="loadResults($event)" [paginator]="true" [rows]="10"
  [rowsPerPageOptions]="paginations" [totalRecords]="totalRecords" [loading]="loading" [customSort]="true"
  currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
  sortField="PAGE.COLLOCATION.MI">
  <ng-template pTemplate="header">
    <tr>
      <th>
      </th>
      <th *ngFor="let col of colHeader" [pSortableColumn]="col">{{col | translate}}&nbsp;
        <fa-icon style="font-size: small" [icon]="faSortAmountDown"></fa-icon>
        <!-- <i class="fa-solid fa-arrow-down-wide-short"></i> -->
        <!-- <p-sortIcon [field]="col" ariaLabel="Activate to sort"></p-sortIcon> -->
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-collocation>
    <tr>
      <td *ngIf="!!collocation.word">{{collocation.word}}</td>
      <td class="text-right" *ngIf="!!collocation.concurrenceCount">
        {{collocation.concurrenceCount | number: '1.1-4'}}</td>
      <td class="text-right" *ngIf="!!collocation.candidateCount">
        {{collocation.candidateCount | number: '1.1-4'}}</td>
      <td class="text-right" *ngIf="!!collocation.tScore">{{collocation.tScore | number: '1.1-4'}}
      </td>
      <td class="text-right" *ngIf="!!collocation.mi">{{collocation.mi | number: '1.1-4'}}</td>
      <td class="text-right" *ngIf="!!collocation.mi3">{{collocation.mi3 | number: '1.1-4'}}</td>
      <td class="text-right" *ngIf="!!collocation.logLikelihood">
        {{collocation.logLikelihood | number: '1.1-4'}}</td>
      <td class="text-right" *ngIf="!!collocation.minSensitivity">
        {{collocation.minSensitivity | number: '1.1-4'}}</td>
      <td class="text-right" *ngIf="!!collocation.logDice">
        {{collocation.logDice | number: '1.1-4'}}
      </td>
      <td class="text-right" *ngIf="!!collocation.miLogF">{{collocation.miLogF | number: '1.1-4'}}
      </td>
    </tr>
  </ng-template>
</p-table>
