<a *ngIf="!hideMetadataLabel" p-button class="p-shadow-7 p-component right-button disabled" style="top: 200px"
  (click)="openSidebarMetadata()" [ngClass]="{'disabled': labelMetadataDisabled}">
  <div class="p-d-flex p-jc-between">
    <div>{{'PAGE.CONCORDANCE.METADATA' | translate}}</div>
    <div *ngIf="spinnerMetadata">
      <p-progressSpinner [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
    </div>
  </div>
</a>

<a p-button class="p-shadow-7 p-component right-button disabled" style="top: 276px;" (click)="openSidebarOptions()"
  [ngClass]="{'disabled': labelOptionsDisabled}">{{titleLabel | translate}}</a>
