<p-card class="p-p-3">
  <div class="p-field p-d-flex">
    <label class="label-size" for="state">{{"PAGE.CONCORDANCE.CORPUS" | translate}}</label>
    <p-dropdown [options]="corpusList" [(ngModel)]="selectedCorpus" optionLabel="value"
      [placeholder]="'Select a Corpus'" [filter]="true" [showClear]="true" (onChange)="dropdownCorpus()">
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedCorpus">
          <div class="label-size">{{selectedCorpus.value}}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div>
          <div class="label-size">{{country.value.value}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <span class="p-component">
    <h2>{{"PAGE.VISUAL_QUERY.QUERY" | translate}}</h2>
  </span>
  <div class="p-jc-start p-mt-2">
    <div *ngFor="let token of queryPattern.tokPattern" class="p-mr-2 p-d-inline-flex">
      <div class="box">
        <app-query-token [token]="token" [typeList]="typeListQuery" [option]="true" (delete)="deleteTokenQuery(token)"
          [metadata]="false">
        </app-query-token>
      </div>
    </div>
  </div>
  <button pButton label=" " (click)="addTokenQuery()" [disabled]="!enableAddToken"><i
      class="pi pi-plus-circle"></i>&nbsp;{{"PAGE.VISUAL_QUERY.ADD_TOKEN" | translate}}</button>

  <hr>
  <div *ngIf="loading > 0" class="p-text-center">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
  <span class="p-component">
    <h2>{{"PAGE.VISUAL_QUERY.METADATA" | translate}}</h2>
  </span>
  <div class="p-jc-start p-mt-2">
    <div *ngFor="let token of metadata" class="p-mr-2">
      <div class="box">
        <app-query-token [token]="token" [metadatumTextTypes]="getMetadatumTextTypes()"
          (delete)="deleteTokenMetadata(token)" [metadata]="true">
        </app-query-token>
      </div>
    </div>
  </div>
  <button pButton label=" " (click)="addTokenMetadata()"
    [disabled]="metadata?.length > 0 || metadataTextTypes?.length <= 0 || loading > 0 || !selectedCorpus"><i
      class="pi pi-plus-circle"></i>&nbsp;{{"PAGE.VISUAL_QUERY.ADD_METADATA" | translate}}</button>

  <div class="p-mt-6 p-text-center">
    <button [disabled]="!queryTokenOK()" pButton type="button"
      label="{{'PAGE.CONCORDANCE.MAKE_CONCORDANCE' | translate}}" (click)="loadConcordances()"></button>
  </div>

  <div *ngIf="kwicLines" class="p-d-block">
    <p-card>
      <h3 *ngIf="totalResults">Query <span style="color:red;">{{simpleResult}}</span>&nbsp;<b>{{totalResults}}</b></h3>

      <p-table [value]="kwicLines" [lazy]="true" (onLazyLoad)="loadConcordances($event)" [paginator]="true"
        styleClass="p-datatable-striped" [rows]="10" [totalRecords]="totalResults" [loading]="loading"
        currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 80px;">Ref</th>
            <th class="p-text-center" style="width: 180px;">Left</th>
            <th class="p-text-center" style="width: 80px;">Kwic</th>
            <th class="p-text-center" style="width: 180px;">Right</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-kwicLine>
          <tr>
            <td><a href="#">{{kwicLine.ref}}</a></td>
            <td class="p-text-right">{{kwicLine.leftContext}}</td>
            <td class="p-text-center" style="color: red;">{{kwicLine.kwic}}</td>
            <td class="p-text-left">{{kwicLine.rightContext}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

  </div>
