<div class="mt-3">
  <p-card>
    <div class="flex justify-content-center">
      <h2>{{"MENU.FREQUENCY" | translate}}</h2>
    </div>

    <div class="grid ml-4 mb-3">
      <div class="col-6 flex justify-content-center">
        <button pButton style="width: 100px;" type="button" label="{{'MENU.NODE_TAGS' | translate}}"
          (click)="clickNodeTags()" class="mr-5"></button>
      </div>
      <div class="col-6 flex justify-content-center">
        <button pButton style="width: 100px;" type="button" label="{{'MENU.NODE_FORMS' | translate}}"
          (click)="clickNodeForms()" class="mr-5"></button>
      </div>
    </div>

    <p-accordion>
      <p-accordionTab header="{{'PAGE.CONCORDANCE.FREQ_OPTIONS.MULTI_FREQ_DIST' | translate}}"
        [selected]="!isMetadataFreq">
        <div class="field ml-2">
          <label for="numToken" style="width: 145px;" class="mr-3">{{"PAGE.CONCORDANCE.FREQ_OPTIONS.FREQ_LIMIT" |
            translate}}</label>
          <input id="numToken" type="number" pInputText style="width: 50px;"
            [(ngModel)]="freqOptionsQueryRequest.freqLimitMulti">
        </div>
        <div class="grid">
          <div *ngFor="let level of levels, let i = index" class="field-checkbox" class="p-d-inline">
            <div class="col">
              <div class="mb-4 ml-2">
                <p-checkbox name="level" [binary]="true" [label]="level.value | translate"
                  [(ngModel)]="freqOptionsQueryRequest.freqOptionList[i].level" (onChange)="levelCheck($event, i+1)"
                  [disabled]="(i+1) <freqOptionsQueryRequest.levelSelected">
                </p-checkbox>
              </div>
              <div class="field ml-2 mb-3">
                <p-dropdown [options]="attributeList" optionValue="key"
                  [(ngModel)]="freqOptionsQueryRequest.freqOptionList[i].attribute" optionLabel="value"
                  [showClear]="true">
                </p-dropdown>
              </div>
              <div class="field-checkbox ml-2 mb-3">
                <p-checkbox name="ignoreCase" [binary]="true"
                  [label]="'PAGE.CONCORDANCE.FREQ_OPTIONS.IGNORE_CASE' | translate"
                  [(ngModel)]="freqOptionsQueryRequest.freqOptionList[i].ignoreCase">
                </p-checkbox>
              </div>
              <div class="field ml-2">
                <p-dropdown [options]="positionList" [(ngModel)]="freqOptionsQueryRequest.freqOptionList[i].position"
                  [showClear]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <span class="flex justify-content-center">
          <button pButton type="button" label="{{'PAGE.CONCORDANCE.FREQ_OPTIONS.MULTI_FREQ_DIST' | translate}}"
            (click)="makeMultilevelFreq()" class="mr-5" [disabled]="freqOptionsQueryRequest.levelSelected < 1"></button>
          <button pButton type="button" label="{{'PAGE.CONCORDANCE.FREQ_OPTIONS.CLEAR_FREQ_OPT' | translate}}"
            (click)="removeFrequencyOption()" class="mr-5"></button>
        </span>

      </p-accordionTab>
      <p-accordionTab header="{{freqMetadataLabel | translate}}" [selected]="isMetadataFreq">
        <h3>{{'PAGE.CONCORDANCE.FREQ_OPTIONS.FREQ_DIST' | translate}}</h3>
        <div class="field ml-2">
          <label for="numToken" style="width: 145px;" class="mr-3">{{"PAGE.CONCORDANCE.FREQ_OPTIONS.FREQ_LIMIT" |
            translate}}</label>
          <input id="numToken" type="number" pInputText style="width: 50px;"
            [(ngModel)]="freqOptionsQueryRequest.freqLimit">
        </div>
        <div class="field-checkbox ml-2">
          <p-checkbox name="nonWords" [binary]="true" [label]="'PAGE.CONCORDANCE.FREQ_OPTIONS.INCLUDE_CAT' | translate"
            [(ngModel)]="freqOptionsQueryRequest.includeCat">
          </p-checkbox>
        </div>
        <div class="col-fixed" style="width: 150px;">
          <p-listbox id="show" [options]="metadataAttributes" [multiple]="true"
            [(ngModel)]="freqOptionsQueryRequest.categories"></p-listbox>
        </div>

        <span class="flex justify-content-center">
          <button pButton type="button" [disabled]="freqOptionsQueryRequest.categories.length<1"
            label="{{freqMetadataLabel | translate}}" (click)="makeMetadataFreq()" class="mr-5"></button>
          <button pButton type="button" label="{{'PAGE.CONCORDANCE.FREQ_OPTIONS.CLEAR_FREQ_OPT' | translate}}"
            (click)="removeFrequencyOption()" class="mr-5"></button>
        </span>
      </p-accordionTab>
    </p-accordion>

  </p-card>
</div>
