<div *ngIf="visible">

  <div class="flex justify-content-center">
    <h3><b>{{'MENU.CONCORDANCE' | translate}}</b></h3>
  </div>
  <div *ngIf="kwicLines.length > 0">
    <h3 *ngIf="totalResults && !loading">
      {{queryTitle}}
      <span *ngFor="let fr of fieldRequests; let i = index">
        <span style="color:red;">
          <a (click)="clickConc(fr)" *ngIf="i<(fieldRequests.length-1)">{{fr ? getItemToBeDisplayed(fr) :''}}</a>
          <a *ngIf="i===fieldRequests.length-1">{{fr ? getItemToBeDisplayed(fr) :''}}</a>
        </span>&nbsp;
        <b>{{firstTime ? totalResults : firstItemTotalResults}} {{fieldRequests.length > (i + 1) ? '>' : ''}} </b>
      </span>
      <ng-container *ngIf="isQueryWithContext()">
        <span *ngFor="let description of descriptions, let idx = index">
          >
          {{("RESPONSE." + description.operation) | translate}}
          <a *ngIf="idx < (descriptions.length-1)" style="color:red; text-decoration: underline; cursor: pointer;"
            (click)="makeConcordanceFromBreadcrumbs(idx)">{{description.niceArg}}</a>
          <span *ngIf="idx === (descriptions.length-1)" style="color:red;">{{description.niceArg}}</span>
          &nbsp;<b>{{description.size}}</b>
        </span>
      </ng-container>
      <ng-container *ngIf="isQueryWithContextFromFrequencyPN()">
        <span *ngFor="let description of descriptions, let idx = index">
          >
          {{("RESPONSE." + description.operation) | translate}}
          <a *ngIf="idx < (descriptions.length-1)" style="color:red; text-decoration: underline; cursor: pointer;"
            (click)="makeConcordanceFromFrequencyPN(idx)">{{description.niceArg}}</a>
          <span *ngIf="idx === (descriptions.length-1)" style="color:red;">{{description.niceArg}}</span>
          &nbsp;<b>{{description.size}}</b>
        </span>
      </ng-container>
    </h3>
  </div>
</div>
<div *ngIf="visible" style="width: 150px;">
  <p-dialog header="{{'PAGE.CONCORDANCE.VIDEO' | translate}}" [(visible)]="displayModal" [style]="{width: '700'}"
    [baseZIndex]="10000">
    <iframe title="Video" style="border: 0px;" width="600" height="450" [src]="videoUrl" allow="autoplay"
      allowfullscreen></iframe>
  </p-dialog>
</div>

<p-table [ngClass]="{'hidden': (!visible || noResultFound) && !loading}" [value]="kwicLines" [lazy]="true"
  [loading]="loading" (onLazyLoad)="loadConcordanceForPagination($event)" [paginator]="true"
  styleClass="p-datatable-striped" [rows]="initialPagination" [totalRecords]="totalResults" [(first)]="first"
  currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="paginations" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="flex: 0 0 60px;">
        <button pButton (click)="showDialog()" [disabled]="loading">CSV</button>
        <p-dialog header="File Csv in elaborazione" [(visible)]="dlgVisible" [modal]="true" [closable]="false"
          [style]="{width: '15vw'}">
          <div class="flex justify-content-center mb-2">
            <p-progressBar *ngIf="dlgVisible" style="width: 100%;" [value]="progressStatus" tooltipPosition="bottom"
              [pTooltip]="'' + progressStatus">
            </p-progressBar>
          </div>
          <div class="flex justify-content-center">
            <p-progressSpinner [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
          </div>
          <p>
            Attendere il completamento dell'operazione.<br> Non uscire e non aggiornare la pagina.
          </p>
        </p-dialog>
      </th>
      <th class="text-center" style="flex: 0 0 80px;">Ref.</th>
      <th class="text-center" style="flex: 0 0 180px;">Left</th>
      <th class="text-center" style="flex: 0 0 180px;">Kwic</th>
      <th class="text-center" style="flex: 0 0 180px;">Right</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-kwicLine let-rowIndex="rowIndex">
    <tr>
      <td>
        <button [disabled]="loading" pButton type="button" *ngIf="kwicLine.videoUrl"
          label="{{'PAGE.CONCORDANCE.VIDEO' | translate}}" (click)="showVideoDlg(kwicLine)"></button>
      </td>
      <td class="text-center">
        <div class="refcontainer">
          <div>
            <p-button [disabled]="loading" styleClass="p-button-link"
              (click)="reference.toggle($event); showReference(kwicLine)"><span
                class="button-ref">{{kwicLine.references['doc.id'] ? kwicLine.references['doc.id'] : 'doc#' +
                kwicLine.docNumber}}</span>
            </p-button>
          </div>
          <div class="badgecontainer">
            <div *ngIf="kwicLine.references['impl.type'] && kwicLine.references['impl.type'].length > 0">
              <p-badge (click)="comment.toggle($event); showComment(kwicLine, 'impl')" value="I" class="implicit-badge">
              </p-badge>
            </div>
            <div *ngIf="kwicLine.references['ppp.type'] && kwicLine.references['ppp.type'].length > 0">
              <p-badge (click)="comment.toggle($event); showComment(kwicLine, 'ppp')" value="P" class="implicit-badge">
              </p-badge>
            </div>
            <div *ngIf="kwicLine.references['top.type'] && kwicLine.references['top.type'].length > 0">
              <p-badge (click)="comment.toggle($event); showComment(kwicLine, 'top')" value="T" class="implicit-badge">
              </p-badge>
            </div>
            <div *ngIf="kwicLine.references['vag.type'] && kwicLine.references['vag.type'].length > 0">
              <p-badge (click)="comment.toggle($event); showComment(kwicLine, 'vag')" value="V" class="implicit-badge">
              </p-badge>
            </div>
          </div>
        </div>
      </td>

      <td class="text-right" [innerHTML]="stripTags(kwicLine.leftContext, withContextConcordance())"></td>
      <td class="text-center">
        <p-button [disabled]="loading" label="{{kwicLine.kwic}}" styleClass="p-button-link"
          (click)="operation.toggle($event); showWideContext(kwicLine)"></p-button>
      </td>
      <td class="text-left" [innerHTML]="stripTags(kwicLine.rightContext, withContextConcordance())"></td>
    </tr>
  </ng-template>
</p-table>

<!-- Context Panel -->
<p-overlayPanel #operation [style]="{width: '450px'}">
  <ng-template pTemplate>
    <div *ngIf="!resultContext" class="flex context-spinner justify-content-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <div *ngIf=" resultContext">
      <div [innerHTML]="resultContext.before"></div>
      <div style="text-align: center;" class="text-red">
        {{resultContext.keyword}}
      </div>
      <div [innerHTML]="resultContext.after"></div>
    </div>
  </ng-template>
</p-overlayPanel>

<!-- Reference Panel -->
<p-overlayPanel #reference [style]="{width: '850px'}">
  <ng-template pTemplate>
    <div *ngIf="!referencePositionResponse" class="flex context-spinner justify-content-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <div *ngIf="referencePositionResponse">
      <div class="grid">
        <div class="col-2"><strong>Token number</strong></div>
        <div class="col-10">{{referencePositionResponse.tokenNumber}}</div>
      </div>
      <div class="grid">
        <div class="col-2"><strong>Document number</strong></div>
        <div class="col-10">{{referencePositionResponse.documentNumber}}</div>
      </div>
      <div *ngFor="let referenceKey of referenceKeys" class="grid">
        <div class="col-2"><strong>{{referenceKey}}</strong></div>
        <div class="col-10" *ngIf="referenceKey.indexOf('url') === -1">
          {{referencePositionResponse.references[referenceKey]}}</div>
        <div class="col-10" *ngIf="referenceKey.indexOf('url') !== -1">
          <a target="blank"
            href="{{referencePositionResponse.references[referenceKey]}}">{{referencePositionResponse.references[referenceKey]}}</a>
        </div>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<!-- Comment Panel -->
<p-overlayPanel #comment [style]="{width: '450px'}">
  <ng-template pTemplate>
    <div><strong>{{('METADATA_OPT.' + implStr) | translate}}</strong></div>
    <div *ngIf="typeStr">
      <div><strong>{{'METADATA_OPT.TYP' | translate}}:</strong>&nbsp;{{typeStr}}</div>
    </div>
    <div *ngIf="functionStr">
      <div><strong>{{'METADATA_OPT.FUNCTION' | translate}}:</strong>&nbsp;{{functionStr}}</div>
    </div>
    <div *ngIf="commentStr">
      <div><strong>{{'METADATA_OPT.ESPL' | translate}}:</strong>&nbsp;{{commentStr}}</div>
    </div>
  </ng-template>
</p-overlayPanel>

<div class="mt-3 w-12" *ngIf="visible && noResultFound && !loading">
  <h3 style="text-align: center;" class="text-red">{{"PAGE.NO_RESULT_FOUND" | translate}}</h3>
</div>