.context-spinner {
  div {
    height: 2.5em;
  }
}

.button-ref {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.refcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badgecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.implicit-badge {
  cursor: pointer;
}
