<div style="width: 50%;">
  <h2 class="text-3xl font-medium p-component">{{title}}</h2>
  <p-panel *ngIf="corpus">
    <div class="field grid">
      <div class="col-12 mb-4 md:col-6 md:mb-0 label">{{'PAGE.WORD_LIST.CORPUS' | translate | titlecase}}</div>
      <div class="col-12 md:col-6">
        {{corpus}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-12 mb-4 md:col-6 md:mb-0 label">{{'PAGE.WORD_LIST.TOTAL_ITEMS' | translate | titlecase}}</div>
      <div class="col-12 md:col-6">
        {{totalItems | number: '1.0-2' : 'it'}}
      </div>
    </div>
    <div class="field grid">
      <div class="col-12 mb-4 md:col-6 md:mb-0 label">{{'PAGE.WORD_LIST.TOTAL_FREQ' | translate | titlecase}}</div>
      <div class="col-12 md:col-6">
        {{totalFrequencies | number: '1.0-2' : 'it'}}
      </div>
    </div>
  </p-panel>


  <p-progressSpinner *ngIf="loading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s"
    class="flex align-items-center">
  </p-progressSpinner>
  <p-panel *ngIf="corpus">
    <p-table [value]="wordListItems" [lazy]="true" (onLazyLoad)="loadWordList($event)" [paginator]="true"
      [rows]="pageSize" [rowsPerPageOptions]="paginations" [totalRecords]="totalItems" [customSort]="true"
      currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
      [sortField]="sortField" [sortOrder]="-1" [autoLayout]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <button pButton (click)="downloadCsv()" [disabled]="loading">CSV</button>
          </th>
          <th class="text-left" pSortableColumn="searchAttribute" style="width: 50%;">{{searchAttribute}}<p-sortIcon
              field="searchAttribute"></p-sortIcon></th>
          <th class="text-left" pSortableColumn="freq" style="width: 50%;">{{'PAGE.WORD_LIST.FREQUENCY' |
            translate}}<p-sortIcon field="freq"></p-sortIcon></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr *ngIf="item" [ngClass]="{'hidden': loading}">
          <td></td>
          <td class="text-left">{{item.word}}</td>
          <td class="text-left">{{item.frequency}}</td>
        </tr>
      </ng-template>
    </p-table>

  </p-panel>
</div>