<span class="p-component">
  <div class="flex justify-content-center">
    <h2>{{"MENU.COLLOCATIONS" | translate}}</h2>
  </div>
  <h3>{{'PAGE.CONCORDANCE.COLLOCATION_OPTIONS.CANDIDATES' | translate}}</h3>
  <div class="inline field ml-2">
    <label class="label-size mr-1">{{"PAGE.CONCORDANCE.VIEW_OPTIONS.ATTRIBUTE" | translate}}</label>
    <p-dropdown [options]="attributeList" [(ngModel)]="collocationOptionsQueryRequest.attribute" optionLabel="value"
      [showClear]="true">
    </p-dropdown>
  </div>
  <div class="inline field ml-6">
    <label for="rangeFrom" class="mr-2">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.RANGE" | translate}}</label>
    <input id="rangeFrom" type="number" pInputText style="width: 50px;"
      [(ngModel)]="collocationOptionsQueryRequest.rangeFrom" class="mr-3">
  </div>
  <div class="inline field ml-2">
    <label for="rangeTo" class="mr-2">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.TO" | translate}}</label>
    <input id="rangeTo" type="number" pInputText style="width: 50px;"
      [(ngModel)]="collocationOptionsQueryRequest.rangeTo">
  </div>

  <div class="field ml-2 mt-3">
    <label for="minCorpus" class="mr-2">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.MIN_FREQ_C" | translate}}</label>
    <input id="minCorpus" type="number" pInputText style="width: 50px;"
      [(ngModel)]="collocationOptionsQueryRequest.minFreqCorpus" class="mr-3">
  </div>
  <div class="field ml-2">
    <label for="minRange" class="mr-2">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.MIN_FREQ_R" | translate}}</label>
    <input id="minRange" type="number" pInputText style="width: 50px;"
      [(ngModel)]="collocationOptionsQueryRequest.minFreqRange" class="mr-3">
  </div>

  <div class="grid ml-4 ai-center">
    <div class="col-fixed" style="width: 70px;">
      <label for="show" class="mr-2">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.SHOW" | translate}}</label>
    </div>
    <div class="col-fixed" style="width: 150px;">
      <p-listbox id="show" [options]="attributeList" [multiple]="true"
        [(ngModel)]="collocationOptionsQueryRequest.showFunc" optionLabel="value"></p-listbox>
    </div>
    <div class="col-fixed" style="width: 70px;">
      <label for="sort">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.SORT_BY" | translate}}</label>
    </div>
    <div class="col-fixed" style="width: 150px;">
      <p-listbox id="sort" [options]="attributeList" [(ngModel)]="collocationOptionsQueryRequest.sortBy"
        optionLabel="value"></p-listbox>
    </div>
  </div>

  <span class="flex justify-content-center mt-3">
    <button pButton type="button" icon="pi"
      label="{{'PAGE.CONCORDANCE.COLLOCATION_OPTIONS.MAKE_CANDIDATE_LIST' | translate}}"
      (click)="clickCollocationOption()" class="mr-5 mt-6"></button>
  </span>

</span>
