<div style="height: 100%;">
  <div>
    <p-panelMenu [model]="items"></p-panelMenu>
  </div>
  <div style="position: fixed; bottom: 0px; left: 0px;">
    <p-card *ngIf="!!user.name">
      <div pTooltip="{{('USER.' + user.role + '_ROLE' | translate)}} - {{user.email}}" tooltipPosition="top">
        {{user.name}}
      </div>
    </p-card>

    <div class="flex justify-content-between p-component mt-3" style="width: 240px;">
      <button pButton class="p-button-text p-button-info ml-6" [routerLink]="['/credits']" label="credits" (click)="click(CREDITS)"></button>
      <button pButton class="p-button-text p-button-info mr-6" [routerLink]="['/copyright']" label="copyright" (click)="click(COPYRIGHT)"></button>
    </div>
    <img *ngIf="urlBottomLeft" [src]="urlBottomLeft" class="logo" alt="logoMenu">
  </div>
</div>