<div class="mt-3">
  <p-card>
    <div class="flex justify-content-center">
      <h2>{{"PAGE.CONCORDANCE.SORT_OPTIONS.SORT_OPTIONS" | translate}}</h2>
    </div>
    <div class="grid ml-4 mb-3">
      <div class="col-12 md:col-3">
        <button pButton style="width: 100px;" type="button" icon="pi" label="{{'MENU.LEFT' | translate}}"
          (click)="clickLeft()" class="mr-5"></button>
      </div>
      <div class="col-12 md:col-3">
        <button pButton style="width: 100px;" type="button" icon="pi" label="{{'MENU.RIGHT' | translate}}"
          (click)="clickRight()" class="mr-5"></button>
      </div>
      <div class="col-12 md:col-3">
        <button pButton style="width: 100px;" type="button" icon="pi" label="{{'MENU.NODE' | translate}}"
          (click)="clickNode()" class="mr-5"></button>
      </div>
      <div class="col-12 md:col-3">
        <button pButton style="width: 100px;" type="button" icon="pi" label="{{'MENU.SHUFFLE' | translate}}"
          (click)="clickShuffle()" class="mr-5"></button>
      </div>
    </div>

    <p-accordion>
      <p-accordionTab header="{{'PAGE.CONCORDANCE.SORT_OPTIONS.SIMPLE_SORT' | translate}}" [selected]="isSimpleSort">
        <div class="field ml-2 mb-3">
          <p-dropdown [options]="attributeList" [(ngModel)]="sortOptionsQueryRequest.attribute" optionLabel="key"
            optionValue="key" [showClear]="true" *ngIf="sortOptionsQueryRequest">
          </p-dropdown>
        </div>

        <div class="grid">
          <div class="col-fixed ml-2" style="width: 145px;">
            <b>{{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_KEY' | translate}}</b>
          </div>
          <div class="col">
            <div *ngFor="let sortkey of sortKeys" class="field-checkbox d-inline">
              <p-radioButton [inputId]="sortkey.key" name="sortkey" [value]="sortkey.key"
                [(ngModel)]="sortOptionsQueryRequest.sortKey">
              </p-radioButton>
              <label [for]="sortkey.key" class="mr-2 ml-1">{{sortkey.value | translate}}</label>
            </div>
          </div>
        </div>

        <div class="field ml-2">
          <label for="numToken" style="width: 145px;" class="mr-3">{{"PAGE.CONCORDANCE.SORT_OPTIONS.NUM_TOKEN" |
          translate}}</label>
          <input *ngIf="sortOptionsQueryRequest" id="numToken" type="number" pInputText style="width: 50px;"
            [(ngModel)]="sortOptionsQueryRequest.numberTokens">
        </div>

        <div class="field-checkbox ml-2">
          <p-checkbox *ngIf="sortOptionsQueryRequest" name="nonWords" [binary]="true"
            label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.IGNORE_CASE' | translate}}"
            [(ngModel)]="sortOptionsQueryRequest.ignoreCase">
          </p-checkbox>
        </div>

        <div class="field-checkbox ml-2">
          <p-checkbox *ngIf="sortOptionsQueryRequest" name="nonWords" [binary]="true"
            label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.BACKWARD' | translate}}"
            [(ngModel)]="sortOptionsQueryRequest.backward">
          </p-checkbox>
        </div>

        <span class="flex justify-content-center">
          <button pButton type="button" icon="pi"
            label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_CONCORDANCE' | translate}}" (click)="makeSort()"
            class="mr-5"></button>
          <button pButton type="button" icon="pi" label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.CLEAR_SORT_OPT' | translate}}"
            (click)="removeSortOption()" class="mr-5"></button>
        </span>
      </p-accordionTab>
      <p-accordionTab header="{{'PAGE.CONCORDANCE.SORT_OPTIONS.MULTILEVEL_SORT' | translate}}"
        [selected]="!isSimpleSort">
        <div class="grid">
          <div *ngFor="let level of levels, let i = index" class="field-checkbox" class="d-inline" class="col-4">
            <div>
              <div class="mb-4 ml-2">
                <p-checkbox name="level" [binary]="true" [(ngModel)]="sortOptionsQueryRequest.sortOptionList[i].level"
                  (onChange)="levelCheck($event, i+1)" [disabled]="(i+1) < sortOptionsQueryRequest.levelSelected"
                  [label]="('PAGE.CONCORDANCE.SORT_OPTIONS.' + level.value) | translate">
                </p-checkbox>
              </div>
              <div class="field ml-2 mb-3">
                <p-dropdown [options]="attributeList" [(ngModel)]="sortOptionsQueryRequest.sortOptionList[i].attribute"
                  optionLabel="value" optionValue="key" [showClear]="true">
                </p-dropdown>
              </div>
              <div class="field-checkbox ml-2 mb-3">
                <p-checkbox name="nonWords" [binary]="true"
                  label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.IGNORE_CASE' | translate}}"
                  [(ngModel)]="sortOptionsQueryRequest.sortOptionList[i].ignoreCase">
                </p-checkbox>
              </div>
              <div class="field-checkbox ml-2 mb-3">
                <p-checkbox name="nonWords" [binary]="true"
                  label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.BACKWARD' | translate}}"
                  [(ngModel)]="sortOptionsQueryRequest.sortOptionList[i].backward">
                </p-checkbox>
              </div>
              <div class="field ml-2">
                <p-dropdown [options]="positionList" [(ngModel)]="selectedPosition[i]" optionLabel="value"
                  optionValue="key" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <span class="flex justify-content-center">
          <button pButton type="button" icon="pi"
            label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_CONCORDANCE' | translate}}" (click)="makeMultilevelSort()"
            class="mr-5"></button>
          <button pButton type="button" icon="pi" label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.CLEAR_SORT_OPT' | translate}}"
            (click)="removeSortOption()" class="mr-5"></button>
        </span>
      </p-accordionTab>
    </p-accordion>

  </p-card>
</div>
