<div *ngIf="!!showRightButton">
  <a class="p-shadow-7 p-component right-button-options" (click)="closeSidebar()">
    {{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_OPTIONS' | translate}}</a>
</div>

<span class="p-component">
  <h3>{{'PAGE.CONCORDANCE.SORT_OPTIONS.SIMPLE_SORT' | translate}}</h3>

  <div class="p-grid p-ml-4 p-ai-center">
    <div class="p-col-3">
      <button pButton style="width: 100px;" type="button" label="{{'MENU.LEFT' | translate}}" (click)="clickLeft()"
        class="p-mr-5"></button>
    </div>
    <div class="p-col-3">
      <button pButton style="width: 100px;" type="button" label="{{'MENU.RIGHT' | translate}}" (click)="clickRight()"
        class="p-mr-5"></button>
    </div>
    <div class="p-col-3">
      <button pButton style="width: 100px;" type="button" label="{{'MENU.NODE' | translate}}" (click)="clickNode()"
        class="p-mr-5"></button>
    </div>
    <div class="p-col-3">
      <button pButton style="width: 100px;" type="button" label="{{'MENU.SHUFFLE' | translate}}"
        (click)="clickShuffle()" class="p-mr-5"></button>
    </div>
  </div>

  <div class="p-field p-ml-2 p-mb-2">
    <p-dropdown [options]="attributeList" [(ngModel)]="sortOptionsQueryRequest.attribute" optionLabel="key"
      [showClear]="true">
    </p-dropdown>
  </div>

  <div class="p-grid p-ai-center">
    <div class="p-col-fixed p-ml-2" style="width: 145px;">
      <b>{{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_KEY' | translate}}</b>
    </div>
    <div class="p-col p-ai-center">
      <div *ngFor="let sortkey of sortKeys" class="p-field-checkbox p-d-inline">
        <p-radioButton [inputId]="sortkey.key" name="sortkey" [value]="sortkey" [(ngModel)]="selectedSortKey">
        </p-radioButton>
        <label [for]="sortkey.key" class="p-mr-2 p-ml-1">{{sortkey.value}}</label>
      </div>
    </div>
  </div>

  <div class="p-field p-ml-2">
    <label for="numToken" style="width: 145px;"
      class="p-mr-3">{{"PAGE.CONCORDANCE.SORT_OPTIONS.NUM_TOKEN" | translate}}</label>
    <input id="numToken" type="number" pInputText style="width: 50px;"
      [(ngModel)]="sortOptionsQueryRequest.numberTokens">
  </div>

  <div class="p-field-checkbox p-ml-2">
    <p-checkbox name="nonWords" [binary]="true" [label]="ignoreCaseLabel"
      [(ngModel)]="sortOptionsQueryRequest.ignoreCase">
    </p-checkbox>
  </div>

  <div class="p-field-checkbox p-ml-2">
    <p-checkbox name="nonWords" [binary]="true" [label]="backwordLabel" [(ngModel)]="sortOptionsQueryRequest.backward">
    </p-checkbox>
  </div>

  <div class="p-ml-2 p-mb-6">
    <button pButton type="button" label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_CONCORDANCE' | translate}}"
      (click)="clickSortOption()" class="p-mr-5"></button>
  </div>

  <h3>{{'PAGE.CONCORDANCE.SORT_OPTIONS.MULTILEVEL_SORT' | translate}}</h3>
  <div class="p-grid">
    <div *ngFor="let level of levels, let i = index" class="p-field-checkbox" class="p-d-inline">
      <div class="p-col">
        <div class="p-mb-4 p-ml-2">
          <p-radioButton [inputId]="level.key" name="displayAttr" [value]="level" [(ngModel)]="selectedLevel">
          </p-radioButton>
          <label [for]="level.key" class="p-mr-2 p-ml-1">{{level.value}}</label>
        </div>
        <div class="p-field p-ml-2 p-mb-2">
          <p-dropdown [options]="attributeList" [(ngModel)]="selectedMultiAttribute[i]" optionLabel="value"
            [showClear]="true">
          </p-dropdown>
        </div>
        <div class="p-field-checkbox p-ml-2 p-mb-2">
          <p-checkbox name="nonWords" [binary]="true" [label]="ignoreCaseLabel" [(ngModel)]="ignoreCase[i]">
          </p-checkbox>
        </div>
        <div class="p-field-checkbox p-ml-2 p-mb-2">
          <p-checkbox name="nonWords" [binary]="true" [label]="backwordLabel" [(ngModel)]="backward[i]">
          </p-checkbox>
        </div>
        <div class="p-field p-ml-2">
          <p-dropdown [options]="positionList" [(ngModel)]="selectedPosition[i]" optionLabel="value" [showClear]="true">
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <button pButton type="button" label="{{'PAGE.CONCORDANCE.SORT_OPTIONS.SORT_CONCORDANCE' | translate}}"
    (click)="clickSortOption()" class="p-mr-5"></button>
</span>
