<p></p>
<span class="p-component">
  <h2>{{"PAGE.MY_JOBS.MY_JOBS_LABEL" | translate}}</h2>



  <div class="p-field-checkbox">
    <label class="p-mr-2">{{"PAGE.MY_JOBS.AUTO_RELOAD" | translate}}</label>
    <p-checkbox name="autoReloaded" [binary]="true" [(ngModel)]="autoReloaded">
    </p-checkbox>
  </div>
  <div class="p-field-checkbox">
    <label class="p-mr-2">{{"PAGE.MY_JOBS.RELOAD_NOW" | translate}}</label>
    <p-checkbox name="showCom" [binary]="true" [(ngModel)]="showCom">
    </p-checkbox>
  </div>

  <div class="p-d-flex p-mt-6 p-mb-6 p-mr-6 p-d-inline">
    <p-table id="myTable" [columns]="selectedColumns" [value]="jobs" styleClass="p-datatable-striped" [paginator]="true"
      [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="caption">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="name"
          selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
        </p-multiSelect>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="id" style="width: 250px;" class="p-text-left">ID <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th class="p-text-right" *ngFor="let col of columns" [pSortableColumn]="col.code">
            {{col.name | translate}}
            <p-sortIcon [field]="col.code"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-job let-columns="columns">
        <tr>
          <td class="p-text-left">{{job.id}}</td>
          <td class="p-text-right" *ngFor="let col of columns">
            <span *ngIf="col.code !== 'progress' && col.code !== 'descriptionLabel'">{{job[col.code] | translate}}
            </span>
            <span *ngIf="col.code === 'descriptionLabel'"><a
                href="{{job.descriptionUrl}}">{{job.descriptionLabel}}</a></span>
            <span *ngIf="col.code === 'progress'">{{job[col.code] | translate}}% </span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</span>
