<div class="flex flex-row">
  <div class="flex flex-grow-1 flex-column mt-3">

    <app-query-request (titleResultChange)="setTitleResult($event)"
      (metadataAttributesChange)="setMetadataAttributes($event)"
      (textTypesAttributesChange)="setTextTypesAttributes($event)" (selectedCorpusChange)="setSelectedCorpus($event)">
    </app-query-request>

    <div class="flex mt-3" *ngIf="!!titleResult">
      <p-card class="w-12">
        <ng-container *ngIf="titleResult==='MENU.COLLOCATIONS' && !!selectedCorpus">
          <app-collocation-table [visible]="titleResult==='MENU.COLLOCATIONS' && !!selectedCorpus"
            [initialPagination]="initialPagination" [paginations]="paginations">
          </app-collocation-table>
        </ng-container>
        <ng-container *ngIf="titleResult==='MENU.CONCORDANCE' && !!selectedCorpus">
          <app-concordance-table [visible]="titleResult==='MENU.CONCORDANCE'" [initialPagination]="initialPagination"
            [paginations]="paginations">
          </app-concordance-table>
        </ng-container>

        <ng-container *ngIf="titleResult==='MENU.FREQUENCY'">
          <app-frequency-table *ngFor="let category of categories, let i=index"
            [visible]="titleResult==='MENU.FREQUENCY' && categories && categories.length>0" [category]="category"
            [first]="i===0" (titleResult)="setTitleResult($event)">
          </app-frequency-table>
          <ng-container *ngIf="categories && categories.length < 1">
            <app-frequency-table [visible]="titleResult==='MENU.FREQUENCY'" [corpus]="selectedCorpus"
              (titleResult)="setTitleResult($event)" [first]="true">
            </app-frequency-table>
          </ng-container>
        </ng-container>
      </p-card>
    </div>
  </div>
  <div class="flex flex-column w-6"
    *ngIf="((displayMetadataPanel() | async) || (displayOptionsPanel() | async)) && !!selectedCorpus">
    <app-dispaly-panel-options [isVisualQuery]="false" [selectedCorpus]="selectedCorpus.key"
      [metadataAttributes]="metadataAttributes" [textTypesAttributes]="textTypesAttributes"
      [metadataTextTypes]="metadataTextTypes" (loadCollocations)="displayCollocations()" (sort)="displayConcordances()"
      (frequency)="displayFrequency()">
    </app-dispaly-panel-options>
  </div>
</div>
<p-dialog header="Errore di autorizzazione" [visible]="displayNotAllowedUserForInstallation" [modal]="true"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [closeOnEscape]="false" [closable]="false">
  <p class="m-0">Non hai i permessi per accedere all'installazione</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="confirmNotAllowed()" label="Logout" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>