<div class="flex flex-row">

  <div class="flex flex-grow-1 flex-column mt-3"
    [ngClass]="{'w-12': !displayPanelService.displayPanelMetadata && !displayPanelService.displayPanelOptions, 'w-6': displayPanelService.displayPanelMetadata || displayPanelService.displayPanelOptions}">
    <p-card>
      <div class="field grid">
        <label for="corpusSelection" class="col-12 md:col-1">{{"PAGE.CONCORDANCE.CORPUS" |
          translate}}</label>
        <div class="col-12 md:col-5">
          <p-dropdown [options]="corpusList" [(ngModel)]="selectedCorpus" optionLabel="value" [filter]="true"
            [showClear]="true" placeholder="{{selectCorpus}}" (onChange)="dropdownCorpus()" id="corpusSelection"
            [style]="{'width':'80%'}">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedCorpus">
                <div>{{selectedCorpus.value}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="field grid">
        <label for="simple_query" class="col-12 md:col-1">
          {{"PAGE.CONCORDANCE.SIMPLE_QUERY" | translate}}
        </label>
        <div class="col-12 md:col-5">
          <input id="simple_query" type="text" pInputText [(ngModel)]="simple"
            [disabled]="!!selectedQueryType && selectedQueryType.key !== 'simple'" class="width-80">
        </div>
      </div>
      <div *ngIf="!contextStatus" style="height: 30px;">
        <button [disabled]="!selectedCorpus" pButton type="button" icon="pi"
          label="{{'PAGE.CONCORDANCE.MAKE_CONCORDANCE' | translate}}" (click)="makeConcordances()"></button>
      </div>
      <div *ngIf="contextStatus" style="height: 30px;">

      </div>
      <div class="flex justify-content-center">
        <button [requiredRole]="['ADMIN', 'ADVANCEDUSER']" pButton type="button" icon="pi"
          label="{{'PAGE.CONCORDANCE.QUERY_TYPES' | translate}}" [disabled]="!selectedCorpus" class="p-button-text mr-3"
          (click)="clickQueryType()"></button>&nbsp;
        <button pButton type="button" icon="pi" label="{{'PAGE.CONCORDANCE.CONTEXT' | translate}}"
          [disabled]="!selectedCorpus" class="p-button-text" (click)="clickContext()"></button>&nbsp;
      </div>

      <div class="mt-3" *ngIf="queryTypeStatus">
        <div>
          <label class="mb-3">
            <h2>{{"PAGE.CONCORDANCE.QUERY_TYPE" | translate}}</h2>
          </label>
          <div class="formgroup-inline justify-content-center">
            <div *ngFor="let queryType of queryTypes" class="field-radiobutton">
              <p-radioButton class="ml-3 mr-1" [inputId]="queryType.key" name="queryType" [value]="queryType"
                [(ngModel)]="selectedQueryType">
              </p-radioButton>
              <label class="mr-3" [for]="queryType.key">{{queryType.value | translate}}</label>
            </div>
          </div>
        </div>
        <div class="mt-3 field grid" *ngIf="selectedQueryType && selectedQueryType.key === LEMMA">
          <label class="col-12 md:col-1" for="lemma">{{"PAGE.CONCORDANCE.LEMMA" | translate}}</label>
          <div class="col-12 md:col-5">
            <input id="lemma" type="text" pInputText [(ngModel)]="lemma" class="width-80">
          </div>
        </div>
        <div class="mt-3 field grid" *ngIf="selectedQueryType && selectedQueryType.key === PHRASE">
          <label class="col-12 md:col-1" for="phrase">{{"PAGE.CONCORDANCE.PHRASE" | translate}}</label>
          <div class="col-12 md:col-5">
            <input id="phrase" type="text" pInputText [(ngModel)]="phrase" class="width-80">
          </div>
        </div>
        <div class="mt-3 field grid" *ngIf="selectedQueryType && selectedQueryType.key === WORD">
          <label class="col-12 md:col-1 " for="word">{{"PAGE.CONCORDANCE.WORD_FORM" | translate}}</label>
          <div class="col-12 md:col-5">
            <input id="word" type="text" pInputText [(ngModel)]="word" class="width-80">
          </div>
          <div class="col-12 md:col-1 align-self-center">
            <p-checkbox [binary]="true" label="{{'PAGE.CONCORDANCE.MATCH_CASE' | translate}}" [(ngModel)]="matchCase">
            </p-checkbox>
          </div>
        </div>
        <div class="mt-3 field grid" *ngIf="selectedQueryType && selectedQueryType.key === CHARACTER">
          <label class="col-12 md:col-1 " for="character">{{"PAGE.CONCORDANCE.CHARACTER" | translate}}</label>
          <div class="col-12 md:col-5">
            <input id="character" type="text" pInputText [(ngModel)]="character" class="width-80">
          </div>
        </div>
        <div class="mt-3 field grid" *ngIf="selectedQueryType && selectedQueryType.key === CQL">
          <label class="col-12 md:col-1" for="cql">{{"PAGE.CONCORDANCE.CQL" | translate}}</label>
          <div class="col-12 md:col-5">
            <input id="cql" type="text" pInputText [(ngModel)]="cql" class="width-80">
          </div>
          <div class="col-12 md:col-5 grid">
            <label
              class="col-12 md:col-3 align-self-center">{{"PAGE.CONCORDANCE.DEFAULT_ATTRIBUTE" | translate}}</label>
            <div class="col-12 md:col-5 align-self-center">
              <p-dropdown [options]="defaultAttributeCQLList" [(ngModel)]="defaultAttributeCQL"
                [style]="{'width':'12rem'}" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  {{'PAGE.CONCORDANCE.' + option.value | translate}}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-item>
                  {{'PAGE.CONCORDANCE.' + item.value | translate}}
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3" *ngIf="contextStatus">
        <app-context-concordance [contextConcordanceQueryRequest]="contextConcordanceQueryRequest">
        </app-context-concordance>
        <div class="flex justify-content-center mt-3">
          <button pButton type="button" icon="pi" label="{{'PAGE.CONCORDANCE.MAKE_CONCORDANCE' | translate}}"
            (click)="makeConcordances()" class="mr-3"></button>
          <button pButton type="button" icon="pi" label="{{'PAGE.CONCORDANCE.CLEAR_ALL' | translate}}"
            (click)="clickClearAll()"></button>
        </div>
      </div>
    </p-card>

    <div class="flex mt-3" *ngIf="titleResult">
      <p-card class="w-12">
        <app-collocation-table [visible]="titleResult==='MENU.COLLOCATIONS' && !((displayPanelService.displayPanelMetadata ||
        displayPanelService.displayPanelOptions) && !!selectedCorpus)" [initialPagination]="initialPagination"
          [paginations]="paginations">
        </app-collocation-table>
        <app-concordance-table [visible]="titleResult==='MENU.CONCORDANCE'" [initialPagination]="initialPagination"
          [paginations]="paginations">
        </app-concordance-table>
      </p-card>
    </div>
  </div>
  <div class="flex flex-column w-6"
    *ngIf="(displayPanelService.displayPanelMetadata || displayPanelService.displayPanelOptions) && !!selectedCorpus">
    <app-dispaly-panel-options [isVisualQuery]="false" [selectedCorpus]="selectedCorpus"
      [metadataAttributes]="metadataAttributes" [textTypesAttributes]="textTypesAttributes"
      [metadataTextTypes]="metadataTextTypes" (loadCollocations)="makeCollocations()">
    </app-dispaly-panel-options>
  </div>
</div>
<div>
</div>
