<div class="shadow-4">
  <p-card [style]="{'width': '30rem', 'margin-bottom': '2em'}">
    <div class="flex justify-content-end mb-3">
      <button pButton type="button" pTooltip="Delete Token" icon="pi pi-times" class="p-button-rounded"
        (click)="deleteToken()"></button>
    </div>
    <ng-container *ngIf="token">
        <div *ngFor="let andTag of token.tags; let idxAnd = index" class="mb-3">
        <div class="shadow-4">
          <p-card>
            <div *ngFor="let tag of andTag; let idxOr = index">
              <app-query-tag [tag]="tag" [typeList]="typeList" [defaultType]="defaultType" [actionList]="actionList"
                [defaultAction]="defaultAction" [metadatumTextTypes]="metadatumTextTypes" (delete)="deleteTag(tag, andTag)"
                [metadata]="metadata" [deleteTagOn]="countTags() > 1">
              </app-query-tag>
              <div *ngIf="idxOr < (andTag.length - 1)" class="flex justify-content-center">
                <b>OR</b>
              </div>
              <div *ngIf="idxOr === (andTag.length - 1)" class="ml-1 flex justify-content-center">
                <button pButton pTooltip="Add in OR" type="button" class="p-button-raised" label="Add in OR"
                  (click)="addTag(andTag)"></button>
              </div>
            </div>
          </p-card>
        </div>
        <div *ngIf="idxAnd < (token.tags.length - 1)" class="flex justify-content-center mt-3">
          <b>AND</b>
        </div>
      </div>
    </ng-container>
    <div class="flex justify-content-between">
      <button pButton pTooltip="Add in AND" type="button" class="p-button-raised" label="Add in AND" (click)="addAndTag()">
      </button>
  
      <div *ngIf="repeat && !metadata && token" class="ml-3">
        <label [for]="'minRepetitions'" class="label-size-enlarged">{{'PAGE.VISUAL_QUERY.REPEAT' | translate}}</label>
        <input class="mr-1" [id]="'minRepetitions'" type="number" style="width: 50px;" [(ngModel)]="token.minRepetitions">
        <label [for]="'maxRepetitions_'" class="label-size-enlarged">{{'PAGE.VISUAL_QUERY.FOR' | translate}}</label>
        <input class="mr-1" [id]="'maxRepetitions'" type="number" style="width: 50px;" [(ngModel)]="token.maxRepetitions">
        <label [for]="'maxRepetitions'" class="label-size-enlarged">{{'PAGE.VISUAL_QUERY.TIMES' | translate}}</label>
      </div>
  
      <!-- <p-overlayPanel #op>
        <p-listbox [options]="optionList" [(ngModel)]="optionSel" optionLabel="value" [style]="{'width':'15rem'}"
          (click)="setOption()">
          <ng-template let-option pTemplate="item">
            {{'PAGE.VISUAL_QUERY.' + option.value | translate}}
          </ng-template>
        </p-listbox>
      </p-overlayPanel>
      <button *ngIf="option" pButton label=" " (click)="op.toggle($event)"><i
          class="pi pi-bars"></i>&nbsp;{{"PAGE.VISUAL_QUERY.OPTION" | translate}}</button>
    </div>
    <div class="flex justify-content-end mt-1">
      <div *ngFor="let opt of optionsSel, let i = index">
        {{"PAGE.VISUAL_QUERY." + opt | translate}} {{i < (optionsSel.length -1) ? ', ' : '' }} </div> -->
      </div> 
  </p-card>
</div>