<input type="text" [formControl]="wordFC">
<button (click)="search()">Cerca</button>
<table aria-describedby="Risultati" *ngIf="queryResponse">
  <tr>
    <th scope="col">Ref</th>
    <th scope="col">Left</th>
    <th scope="col">Kwic</th>
    <th scope="col">Right</th>
  </tr>
  <tr *ngFor="let l of queryResponse.kwicLines">
    <td>{{l.ref}}</td>
    <td class="right-aligned">{{l.leftContext}}</td>
    <td class="center-aligned">{{l.kwic}}</td>
    <td>{{l.rightContext}}</td>
  </tr>
</table>
<div>Totale: {{totalResults}}</div>

<button pButton type="button" label="Video" (click)="toggleVideoPlayer()"></button>


<iframe title="youtubeVideo" *ngIf="ytPlayerVisible" style="border: 0px;" width="500" height="250"
  src="https://www.youtube.com/embed/OBmlCZTF4Xs?autoplay=1&start=45&end=48" allowfullscreen></iframe>