<div class="ml-3" *ngIf="displayMetadataPanel() | async">
  <div *ngIf="selectedCorpus">
    <app-metadata-panel [corpus]="selectedCorpus" (closeSidebarEvent)="closeMetadataPanel()">
    </app-metadata-panel>
  </div>
</div>

<div class="ml-3" *ngIf="(displayPanelService.optionsPanelSubject | async) && selectedCorpus">
  <app-view-options-panel *ngIf="(displayPanelService.panelSelectedSubject | async) === VIEW_OPTIONS"
    [showRightButton]="(displayPanelService.optionsPanelSubject | async)!" [corpusAttributes]="metadataAttributes"
    (closeSidebarEvent)="displayPanelService.closeOptionsPanel()">
  </app-view-options-panel>
  <app-word-list-options-panel *ngIf="(displayPanelService.panelSelectedSubject | async) === WORD_LIST"
    [corpusAttributes]="metadataAttributes" [textTypesAttributes]="textTypesAttributes"
    [showRightButton]="(displayPanelService.optionsPanelSubject | async)!"
    (closeSidebarEvent)="displayPanelService.closeOptionsPanel()">
  </app-word-list-options-panel>
  <app-sort-options-panel *ngIf="(displayPanelService.panelSelectedSubject | async) === SORT"
    [corpusAttributes]="metadataAttributes" [showRightButton]="(displayPanelService.optionsPanelSubject | async)!"
    (closeSidebarEvent)="displayPanelService.closeOptionsPanel()" (concordanceSort)="sortConcordances($event)">
  </app-sort-options-panel>
  <app-frequency-options-panel *ngIf="(displayPanelService.panelSelectedSubject | async) === FREQUENCY"
    [corpusAttributes]="metadataAttributes" [showRightButton]="(displayPanelService.optionsPanelSubject | async)!"
    (closeSidebarEvent)="displayPanelService.closeOptionsPanel()" (concordanceFrequency)="loadFrequencies()">
  </app-frequency-options-panel>
  <app-collocation-options-panel *ngIf="(displayPanelService.panelSelectedSubject | async) === COLLOCATIONS"
    [showRightButton]="(displayPanelService.optionsPanelSubject | async)!"
    (closeSidebarEvent)="displayPanelService.closeOptionsPanel()" (loadCollocations)="loadColl()">
  </app-collocation-options-panel>
  <app-filter-options-panel *ngIf="(displayPanelService.panelSelectedSubject | async) === FILTER"
    [corpus]="selectedCorpus" [metadata]="metadataTextTypes">
  </app-filter-options-panel>
</div>