.topheader {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  overflow: auto;
  z-index: 1000;
}

.logo {
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
}

// inverting colors of selected item, because color of selected item is the same as the bar one
::ng-deep .p-button {
  background-color: #FFC107 !important;
  border-color: #FFC107 !important;
}

::ng-deep .p-highlight {
  background-color: #fff !important;
  border-color: #fff ! important;
  color: #212529 !important;
}
