<div class="flex justify-content-between">
  <img *ngIf="urlTopLeft" [src]="urlTopLeft" class="logo" alt="logoLeft">
  <img *ngIf="urlTopRight" [src]="urlTopRight" class="logo" alt="logoRight">

  <div *ngIf="!!user.name" class="flex mt-4 p-component">
    {{'USER.USER' | translate}}: {{user.name}} - {{'USER.EMAIL' | translate}}: {{user.email}} -
    {{'USER.ROLE' | translate}}:
    {{('USER.' + user.role + '_ROLE' | translate)}}
  </div>

  <p-selectButton class="mt-3 mr-3" [options]="languages" optionLabel="value" optionValue="key"
    (onChange)="selectLanguage($event)">
    <ng-template let-item>
      {{('LANGUAGE.' + item.value) | translate}}
    </ng-template>
  </p-selectButton>
</div>
