.topheader {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  overflow: auto;
  z-index: 1000;
}

.logo {
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
}

.corpus-sel {
  position: fixed; 
  width: 600px; 
  z-index: 1001; 
  top: 10px; 
  left: 400px;
}
