<p-card>
  <form [formGroup]="queryRequestForm">
    <div class="flex justify-content-center">
      <button *ngIf="!isImpaqtsCustom" [requiredRole]="['ADMIN', 'ADVANCEDUSER']" pButton type="button"
        label="{{'PAGE.CONCORDANCE.OTHER_QUERY_TYPES' | translate}}" [disabled]="!selectedCorpus"
        class="p-button-text mr-3" (click)="clickQueryType()"></button>&nbsp;
      <button pButton type="button" label="{{'PAGE.CONCORDANCE.CONTEXT' | translate}}" [disabled]="!selectedCorpus"
        class="p-button-text" (click)="clickContext()"></button>&nbsp;
    </div>

    <div class="field grid" [ngClass]="{'hidden': displayQueryType}">
      <label for="simple_query" class="col-12 md:col-1">
        {{"PAGE.CONCORDANCE.SIMPLE_QUERY" | translate}}
      </label>
      <div class="col-12 md:col-5">
        <input id="simple_query" type="text" pInputText formControlName="simple" class="width-80">
      </div>
    </div>
    <div *ngIf="!(displayContext || displayQueryType)" style="height: 30px;">
      <button pButton type="button" label="{{'PAGE.CONCORDANCE.MAKE_CONCORDANCE' | translate}}"
        (click)="makeConcordances()"
        [disabled]="!selectedCorpus || (displayPanelService.optionsPanelSubject | async) || (emitterService.spinnerMetadata | async)"></button>
    </div>
    <div class="mt-3" *ngIf="displayQueryType">
      <div>
        <label class="mb-3">
          <h2>{{queryTypeLabel | translate}}</h2>
        </label>
        <div class="formgroup-inline justify-content-center">
          <div *ngFor="let queryType of queryTypes" class="field-radiobutton">
            <p-radioButton class="ml-3 mr-1" [inputId]="queryType" name="selectedQueryType" [value]="queryType"
              formControlName="selectedQueryType">
            </p-radioButton>
            <label class="mr-3" [for]="queryTypes">{{('PAGE.CONCORDANCE.'+queryType) | translate}}</label>
          </div>
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === SIMPLE">
        <label class="col-12 md:col-1" for="simple">{{"PAGE.CONCORDANCE.SIMPLE" | translate}}</label>
        <div class="col-12 md:col-5">
          <input id="simple" type="text" pInputText formControlName="simple" class="width-80">
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === LEMMA">
        <label class="col-12 md:col-1" for="lemma">{{"PAGE.CONCORDANCE.LEMMA" | translate}}</label>
        <div class="col-12 md:col-5">
          <input id="lemma" type="text" pInputText formControlName="lemma" class="width-80">
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === PHRASE">
        <label class="col-12 md:col-1" for="phrase">{{"PAGE.CONCORDANCE.PHRASE" | translate}}</label>
        <div class="col-12 md:col-5">
          <input id="phrase" type="text" pInputText formControlName="phrase" class="width-80">
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === WORD">
        <label class="col-12 md:col-1 " for="word">{{"PAGE.CONCORDANCE.WORD_FORM" | translate}}</label>
        <div class="col-12 md:col-5">
          <input id="word" type="text" pInputText formControlName="word" class="width-80">
        </div>
        <div class="col-12 md:col-1 align-self-center">
          <p-checkbox [binary]="true" label="{{'PAGE.CONCORDANCE.MATCH_CASE' | translate}}" formControlName="matchCase">
          </p-checkbox>
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === CHARACTER">
        <label class="col-12 md:col-1 " for="character">{{"PAGE.CONCORDANCE.CHARACTER" | translate}}</label>
        <div class="col-12 md:col-5">
          <input id="character" type="text" pInputText formControlName="character" class="width-80">
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === CQL">
        <label class="col-12 md:col-1" for="cql">{{"PAGE.CONCORDANCE.CQL" | translate}}</label>
        <div class="col-12 md:col-10">
          <input id="cql" type="text" pInputText formControlName="cql" style="width: 100%">
        </div>
      </div>
      <div class="mt-3 field grid"
        *ngIf="queryRequestForm.value.selectedQueryType && queryRequestForm.value.selectedQueryType === IMPLICIT">
        <label class="col-12 md:col-1" for="cql">{{"PAGE.CONCORDANCE.IMPLICIT" | translate}}</label>
        <div class="col-12 md:col-10">
          <input id="cql" type="text" pInputText formControlName="implicit" style="width: 100%">
        </div>
      </div>
    </div>

    <div class="mt-3" *ngIf="displayContext">
      <app-context-concordance> </app-context-concordance>
    </div>
    <div *ngIf="displayContext || displayQueryType">
      <div class="flex justify-content-center mt-3">
        <button pButton type="button" label="{{'PAGE.CONCORDANCE.MAKE_CONCORDANCE' | translate}}"
          (click)="makeConcordances()" class="mr-3"
          [disabled]="(displayPanelService.optionsPanelSubject | async) || (emitterService.spinnerMetadata | async)"></button>
        <button pButton type="button" label="{{'PAGE.CONCORDANCE.CLEAR_ALL' | translate}}"
          (click)="clearContextFields()"></button>
      </div>
    </div>
  </form>
</p-card>