<div *ngIf="visible">
  <div class="flex justify-content-center">
    <h3><b>{{'MENU.COLLOCATION' | translate}}</b></h3>
  </div>
  <p-progressSpinner *ngIf="loading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s"
    class="flex align-items-center">
  </p-progressSpinner>
  <div style="width: 250px;" *ngIf="collocations.length > 0 && !loading">
    <h3 *ngIf="totalResults">Query <span style="color:red;">{{fieldRequest ? fieldRequest.simpleResult :
        ''}}</span>&nbsp;<b>{{totalResults}}</b>
    </h3>
  </div>
</div>
<p-table *ngIf="visible" [value]="collocations" [lazy]="true" (onLazyLoad)="loadCollocations($event)" [paginator]="true"
  [rows]="initialPagination" [rowsPerPageOptions]="paginations" [totalRecords]="totalResults" [customSort]="true"
  currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
  [sortField]="sortField" [autoLayout]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80px;">
          <button pButton (click)="showDialog()" [disabled]="loading">CSV</button>
          <p-dialog header="File Csv in elaborazione" [(visible)]="dlgVisible" [modal]="true" [closable]="false"
            [style]="{width: '15vw'}">
            <div class="flex justify-content-center mb-2">
              <p-progressBar *ngIf="dlgVisible" style="width: 100%;" [value]="progressStatus" tooltipPosition="bottom"
                [pTooltip]="'' + progressStatus">
              </p-progressBar>
            </div>
            <div class="flex justify-content-center">
              <p-progressSpinner [style]="{width: '30px', height: '30px'}"></p-progressSpinner>
            </div>
            <p>
              Attendere il completamento dell'operazione.<br> Non uscire e non aggiornare la pagina.
            </p>
          </p-dialog>
        </th>
        <th class="text-right" *ngFor="let col of colHeader" [pSortableColumn]="col">{{col | translate}}
          <fa-icon style="font-size: small" [icon]="faSortAmountDown"></fa-icon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collocation>
      <tr *ngIf="collocation">
        <td>{{collocation.word}}</td>
        <td class="text-right" *ngIf="!!collocation.concurrenceCount">
          {{collocation.concurrenceCount | number: '1.1-4'}}</td>
        <td class="text-right" *ngIf="!!collocation.candidateCount">
          {{collocation.candidateCount | number: '1.1-4'}}</td>
        <td class="text-right" *ngIf="!!collocation.tscore">{{collocation.tscore | number: '1.1-4'}}
        </td>
        <td class="text-right" *ngIf="!!collocation.mi">{{collocation.mi | number: '1.1-4'}}</td>
        <td class="text-right" *ngIf="!!collocation.mi3">{{collocation.mi3 | number: '1.1-4'}}</td>
        <td class="text-right" *ngIf="!!collocation.logLikelihood">
          {{collocation.logLikelihood | number: '1.1-4'}}</td>
        <td class="text-right" *ngIf="!!collocation.minSensitivity">
          {{collocation.minSensitivity | number: '1.1-4'}}</td>
        <td class="text-right" *ngIf="!!collocation.logDice">
          {{collocation.logDice | number: '1.1-4'}}
        </td>
        <td class="text-right" *ngIf="!!collocation.miLogF">{{collocation.miLogF | number: '1.1-4'}}
        </td>
      </tr>
    </ng-template>
</p-table>
<div class="mt-3 w-12" *ngIf="visible && noResultFound && !loading">
  <h3 style="text-align: center;" class="text-red">{{"PAGE.NO_RESULT_FOUND" | translate}}</h3>
</div>
