<div class="mt-3">
  <p-card>
    <div class="flex justify-content-center">
      <h2>{{"PAGE.CONCORDANCE.VIEW_OPTIONS.VIEW_OPTIONS" | translate}}</h2>
    </div>
    <div>
      <div>
        <span class="flex justify-content-center">
          <h3>{{'PAGE.CONCORDANCE.VIEW_OPTIONS.ATTRIBUTES' | translate}}</h3>
        </span>
        <div class="flex justify-content-start field-checkbox mb-3"
          *ngFor="let attr of corpusAttributes, let i = index">
          <p-checkbox name="group2" value="attr" [value]="attr" [(ngModel)]="corpusAttributesSelected"
            [inputId]="attr.key" [label]="attr.value| translate">
          </p-checkbox>
        </div>
      </div>
    </div>

    <span class="flex justify-content-center mt-3">
      <button pButton type="button" label="{{'PAGE.CONCORDANCE.VIEW_OPTIONS.CHANGE_VIEW' | translate}}"
        (click)="clickChangeViewOption()" class="mr-5"></button>
      <button pButton type="button" label="{{'PAGE.CONCORDANCE.VIEW_OPTIONS.CLEAR_VIEW_OPT' | translate}}"
        (click)="deafultValues()" class="mr-5"></button>
    </span>
  </p-card>
</div>
