<div class="mt-3">
  <p-card>
    <div class="flex justify-content-center">
      <h2>{{"MENU.FILTER" | translate}}</h2>
    </div>
    <div class="mt-4">
      <h2>{{"PAGE.CONCORDANCE.FILTER_OPTIONS.CONCORDANCE_FILTER" | translate}}</h2>
    </div>
    <div class="grid ml-4">
      <div class="col-6 flex justify-content-center">
        <button pButton type="button" icon="pi" label="{{'MENU.OVERLAPS' | translate}}"
          (click)="clickOverlaps()"></button>
      </div>
      <div class="col-6 flex justify-content-center">
        <button pButton type="button" icon="pi" label="{{'MENU.FIRST_HIT_IN_DOC' | translate}}"
          (click)="clickFirst()"></button>
      </div>
    </div>

    <div class="flex ml-2">
      <label class="label-size">{{"MENU.FILTER" | translate}}</label>
      <div *ngFor="let filter of filters" class="field-checkbox">
        <p-radioButton [inputId]="filter.key" name="filter" [value]="filter" [(ngModel)]="selectedFilter">
        </p-radioButton>
        <label [for]="filter.key" class="mr-2 ml-1">{{filter.value}}</label>
      </div>
    </div>

    <div class="flex ml-2">
      <label class="label-size">{{"PAGE.CONCORDANCE.FILTER_OPTIONS.SEL_TOKEN" | translate}}</label>
      <div *ngFor="let token of tokens" class="field-checkbox">
        <p-radioButton [inputId]="token.key" name="filter" [value]="token" [(ngModel)]="selectedToken">
        </p-radioButton>
        <label [for]="token.key" class="mr-2 ml-1">{{token.value}}</label>
      </div>
    </div>

    <div class="flex justify-content-center formgroup-inline">
      <div class="field">
        <label for="rangeFrom" class="mr-2">{{"PAGE.CONCORDANCE.FILTER_OPTIONS.FROM" | translate}}</label>
        <input id="rangeFrom" type="number" pInputText style="width: 50px;" [(ngModel)]="filterOptionsQueryRequest.from"
          class="mr-3">
      </div>
      <div class="field ml-2">
        <label for="rangeTo" class="mr-2">{{"PAGE.CONCORDANCE.COLLOCATION_OPTIONS.TO" | translate}}</label>
        <input id="rangeTo" type="number" pInputText style="width: 50px;" [(ngModel)]="filterOptionsQueryRequest.to">
      </div>
      <div class="field-checkbox ml-2 align-self-center">
        <p-checkbox name="nonWords" [binary]="true" [label]="'PAGE.CONCORDANCE.FILTER_OPTIONS.KWIC' | translate"
          [(ngModel)]="filterOptionsQueryRequest.kwic">
        </p-checkbox>
      </div>
    </div>

    <app-context-concordance [contextConcordanceQueryRequest]="contextConcordanceQueryRequest">
    </app-context-concordance>

    <span class="flex justify-content-center mt-3">
      <button pButton type="button" icon="pi" label="{{'PAGE.CONCORDANCE.FILTER_OPTIONS.FILTER_CON' | translate}}"
        (click)="clickMakeFilter()" class="mr-5"></button>
    </span>
  </p-card>
</div>
