<div class="p-mt-4">
  <h2>{{"PAGE.CONCORDANCE.CONTEXT" | translate}}</h2>
</div>
<div class="mt-1 ml-3">
  <h3>{{"PAGE.CONCORDANCE.LEMMA_FILTER" | translate}}</h3>
  <div class="p-field">
    <label class="mr-3">{{"PAGE.CONCORDANCE.WINDOW" | translate}}</label>
    <p-dropdown [options]="windows" *ngIf="contextConcordanceQueryRequest"
      [(ngModel)]="contextConcordanceQueryRequest.window" optionLabel="value" [showClear]="true">
    </p-dropdown>&nbsp;
    <p-dropdown [options]="tokens" *ngIf="contextConcordanceQueryRequest"
      [(ngModel)]="contextConcordanceQueryRequest.token" optionLabel="value" [showClear]="true">
    </p-dropdown>&nbsp;
    <label class="label-size">{{"PAGE.CONCORDANCE.TOKENS" | translate}}</label>

    <div class="p-field mt-3">
      <label for="lemmas" class="mr-3">{{"PAGE.CONCORDANCE.LEMMAS" | translate}}</label>
      <input id="lemmas" *ngIf="contextConcordanceQueryRequest" type="text" pInputText style="width: 150px;"
        [(ngModel)]="contextConcordanceQueryRequest.lemma">&nbsp;
      <p-dropdown *ngIf="contextConcordanceQueryRequest" [options]="items"
        [(ngModel)]="contextConcordanceQueryRequest.item" optionLabel="value" [showClear]="true">
      </p-dropdown>&nbsp;
      <label class="label-size">{{"PAGE.CONCORDANCE.OF_THESE_ITEMS" | translate}}</label>
    </div>
  </div>
</div>
