<div class="p-mt-4">
  <h2>{{"PAGE.CONCORDANCE.CONTEXT" | translate}}</h2>
</div>
<div class="mt-1">
  <h3>{{"PAGE.CONCORDANCE.LEMMA_FILTER" | translate}}</h3>
  <div>
    <div class="field grid">
      <label class="col-12 mb-0 md:col-1 md:mb-0">{{"PAGE.CONCORDANCE.WINDOW" | translate}}</label>
      <div class="col-12 md:col-11">
        <p-dropdown class="mr-3" [options]="windows" *ngIf="contextConcordanceQueryRequest"
          [(ngModel)]="contextConcordanceQueryRequest.window" optionLabel="value" [showClear]="true">
          <ng-template let-option pTemplate="item">
            {{'PAGE.CONCORDANCE.' + option.value | translate}}
          </ng-template>
          <ng-template pTemplate="selectedItem" let-item>
            {{'PAGE.CONCORDANCE.' + item.value | translate}}
          </ng-template>
        </p-dropdown>
        <p-dropdown class="mr-3" [options]="tokens" *ngIf="contextConcordanceQueryRequest"
          [(ngModel)]="contextConcordanceQueryRequest.token" optionLabel="value" [showClear]="true">
        </p-dropdown>
        <label class="col label-size">{{"PAGE.CONCORDANCE.TOKENS" | translate}}</label>
      </div>

    </div>

    <div class="p-field grid">
      <label class="col-12 mb-0 md:col-1 md:mb-0" for="lemmas">{{"PAGE.CONCORDANCE.LEMMAS" | translate}}</label>
      <div class="col-12 md:col-11">
        <input class="mr-3" id="lemmas" *ngIf="contextConcordanceQueryRequest" type="text" pInputText
          [(ngModel)]="contextConcordanceQueryRequest.lemma">
        <p-dropdown *ngIf="contextConcordanceQueryRequest" [options]="items"
          [(ngModel)]="contextConcordanceQueryRequest.item" optionLabel="value" [showClear]="true">
          <ng-template let-option pTemplate="item">
            {{'PAGE.CONCORDANCE.' + option.value | translate}}
          </ng-template>
          <ng-template pTemplate="selectedItem" let-item>
            {{'PAGE.CONCORDANCE.' + item.value | translate}}
          </ng-template>
        </p-dropdown>&nbsp;
        <label class="label-size">{{"PAGE.CONCORDANCE.OF_THESE_ITEMS" | translate}}</label>
      </div>
    </div>
  </div>
</div>
