/* You can add global styles to this file, and also import other style files */

html {
  font-size: 12px;
}

.label-size {
  width: 120px;
}

.label-size-reduced {
  width: 110px;
}

.label-size-enlarged {
  width: 280px;
}

