<div class="" style="width: 150px;">
  <p-dialog header="{{'PAGE.CONCORDANCE.VIDEO' | translate}}" [(visible)]="displayModal" [style]="{width: '700'}"
    [baseZIndex]="10000">
    <iframe *ngIf="youtubeVideo" title="youtubeVideo" style="border: 0px;" width="600" height="450" [src]="videoUrl"
      allowfullscreen></iframe>
    <iframe *ngIf="!youtubeVideo" title="otherTypeVideo" [src]="videoUrl" width="600" height="450"
      allowfullscreen></iframe>
  </p-dialog>
</div>
<p-table [value]="kwicLines" [lazy]="true" (onLazyLoad)="loadConcordances($event)" [paginator]="true"
  styleClass="p-datatable-striped" [rows]="10" [totalRecords]="totalResults" [loading]="loading"
  currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 80px;" scope="col"></th>
      <th class="p-text-center" style="width: 180px;" scope="col">Left</th>
      <th class="p-text-center" style="width: 80px;" scope="col">Kwic</th>
      <th class="p-text-center" style="width: 180px;" scope="col">Right</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-kwicLine let-rowIndex="rowIndex">
    <tr>
      <td>
        <button pButton type="button" label="{{'PAGE.CONCORDANCE.VIDEO' | translate}}"
          (click)="showVideoDlg(rowIndex)"></button>
      </td>
      <td class="p-text-right">{{kwicLine.leftContext}}</td>
      <td class="p-text-center" class="text-red">{{kwicLine.kwic}}</td>
      <td class="p-text-left">{{kwicLine.rightContext}}</td>
    </tr>
  </ng-template>
</p-table>
