<span class="p-component flex flex-column">
  <div class="flex justify-content-center">
    <h2>{{"PAGE.CONCORDANCE.METADATA" | translate}}</h2>
  </div>
  <div *ngIf="loading > 0" class="text-center">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
  <div class="mt-4 p-component">
    <h2>{{"PAGE.CONCORDANCE.TEXT_TYPE" | translate}}</h2>
  </div>
  <p-scrollPanel [style]="{width: '100%'}" styleClass="custombar">
    <div class="mt-1 mr-3 p-component">
      <div *ngFor="let metadatum of metadataQueryService.metadata, let i = index" class="field mb-2">
        <!-- FreeText-->
        <label *ngIf="!metadatum.multipleChoice && metadatum.freeText" class="mr-3">{{metadatum.name |
          translate}}</label>
        <input *ngIf="!metadatum.multipleChoice && metadatum.freeText" type="text" pInputText style="width: 200px;"
          [(ngModel)]="metadatum.selection">
        <!-- Tree & checkbox-->
        <div *ngIf="metadatum.tree && (metadatum.tree.length > 0) && metadatum.multipleChoice">
          <p-tree [value]="metadatum.tree" selectionMode="checkbox" [(selection)]="metadatum.selection">
          </p-tree>
        </div>
        <!-- Single selection -->
        <div *ngIf="metadatum.tree && (metadatum.tree.length > 0) && !metadatum.multipleChoice">
          <p-tree [value]="metadatum.tree" selectionMode="single" [(selection)]="metadatum.selection"
            (onNodeSelect)="nodeSelect($event)" stlye="color: red !importatnt;">
          </p-tree>
        </div>
      </div>
    </div>
  </p-scrollPanel>
  <span class="flex justify-content-center">
    <button pButton type=" button" icon="pi" label="{{'RESET' | translate}}" [disabled]="loading"
      (click)="resetMetadata()"></button>
  </span>
</span>
