a.right-button {
  display: block;
  position: absolute;
  width: 108px;
  height: 52px;
  line-height: 52px;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--primary-color-text);
  top: 170px;
  left: -120px;
  overflow: hidden;
  cursor: pointer;
  outline: 0 none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}


.p-scrollpanel {
  p {
      padding: .5rem;
      line-height: 1.5;
      margin: 0;
  }

  &.custombar {
      .p-scrollpanel-wrapper {
          border-right: 9px solid var(--layer-1);
      }

      .p-scrollpanel-bar {
          background-color: var(--primary-color);
          opacity: 1;
          transition: background-color .2s;

          &:hover {
              background-color: #007ad9;
          }
      }
  }

  &.custombar1 {
      .p-scrollpanel-wrapper {
          border-right: 9px solid var(--layer-1);
          border-bottom: 9px solid var(--layer-1);
      }

      .p-scrollpanel-bar {
          background-color: var(--layer-2);
          border-radius: 0;
          opacity: 1;
          transition: background-color .2s;
      }
  }
}    