<div>
  <div *ngIf="loading > 0" class="p-text-center">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
  <div>
    <a class="p-shadow-7 p-component right-button-meta"
      [ngClass]="{'right-button-meta': !isFilterOptions(), 'right-button-options': isFilterOptions() }"
      (click)="closeSidebar()">
      {{isFilterOptions() ? ('MENU.FILTER' | translate) : ('PAGE.CONCORDANCE.METADATA' | translate)}}</a>
  </div>
  <div class="mt-4 ml-3 p-component">
    <h2>{{"PAGE.CONCORDANCE.TEXT_TYPE" | translate}}</h2>
  </div>
  <p-scrollPanel [style]="{width: '100%', height: '700px'}" styleClass="custombar">
    <div class="mt-1 ml-3 mr-3 p-component">
      <div *ngFor="let metadatum of metadata, let i = index" class="p-field mb-2">
        <!-- FreeText-->
        <label *ngIf="!metadatum.multipleChoice && metadatum.freeText" class="mr-3">{{metadatum.name |
          translate}}</label>
        <input *ngIf="!metadatum.multipleChoice && metadatum.freeText" type="text" pInputText style="width: 200px;"
          [(ngModel)]="metadatum.selection">
        <!-- Tree & checkbox-->
        <div *ngIf="metadatum.tree && (metadatum.tree.length > 0) && metadatum.multipleChoice">
          <p-tree [value]="metadatum.tree" selectionMode="checkbox" [(selection)]="metadatum.selection">
          </p-tree>
        </div>
        <!-- Single selection -->
        <div *ngIf="metadatum.tree && (metadatum.tree.length > 0) && !metadatum.multipleChoice">
          <p-tree [value]="metadatum.tree" selectionMode="single" [(selection)]="metadatum.selection"
            (onNodeSelect)="nodeSelect($event)" stlye="color: red !importatnt;">
          </p-tree>
        </div>
      </div>
    </div>
  </p-scrollPanel>
  <button pButton type=" button" icon="pi" label="{{'PAGE.CONCORDANCE.MAKE_CONCORDANCE' | translate}}"
    [disabled]="loading" (click)="clickMakeConcordance()"></button>
</div>
