<p-table *ngIf="visible" [value]="lines" [lazy]="true" (onLazyLoad)="loadFrequencies($event)" [paginator]="true"
  [customSort]="true" currentPageReportTemplate="'page: {currentPage} of {totalPages}'" [showCurrentPageReport]="true">

  <ng-template pTemplate="header">
    <tr>
      <th>
      </th>
      <th class="text-right" *ngFor="let col of colHeader" [pSortableColumn]="col">{{col | translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-line>
    <tr *ngIf="line">
      <td> P | N</td>
      <td>{{line.word[0]}}</td>
      <td>{{line.word[1]}}</td>
      <td>{{line.word[2]}}</td>
      <td>{{line.word[3]}}</td>
      <td>{{line.freq}}</td>
      <!-- <td>{{line.fbar}}</td> -->
      <td>
        <p-progressBar [value]="(line.fbar / 301) * 100" [showValue]="false"></p-progressBar>
      </td>
    </tr>
  </ng-template>
</p-table>
<div class="mt-3 w-12" *ngIf="visible && noResultFound && !loading">
  <h3 style="text-align: center; color: red;">{{"PAGE.NO_RESULT_FOUND" | translate}}</h3>
</div>
